.list{
  display:flex;
  justify-content: space-between;
  flex-wrap:wrap;
  row-gap: 15px;
  padding:50px;

}
.user{
  width:250px;
  height:250px;
  padding:30px;
  border:2px solid black;
  border-radius:5px;
}